---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      <b style="color:#555555">ranhaoxi@gmail.com</b>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="https://github.com/hancyran"><b>Github</b></a>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="https://scholar.google.com/citations?user=FxBvRNUAAAAJ&hl=en"><b>Google Scholar</b></a>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/haoxi-ran/"><b>LinkedIn</b></a>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="https://twitter.com/HancyRan"><b>Twitter</b></a>
    </div>
</header>


<main class="content" role="main">

    {% if site.tags.publication %}
    <h2 class="index-headline featured"><span style="font-size:20px">Publications</span></h2>
    <div class="cf frame">
      {% for post in site.tags.publication %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h4 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url" style="font-size:24px; font-family: serif">{{ post.title }}</a></h4>
                <p style="text-decoration: none; font-size:20px; font-weight:bold">
                    <span style="font-size:21px; color: #404040; font-family: serif; font-style: italic">{{ post.publish }}</span>
                    {% if post.label %}<span style="font-size:21px; font-weight:bold; color:Tomato; font-family: serif; font-style: italic"> {{post.label}}</span>{% endif %}
                    {% if post.ratio %}<span style="font-size:16px; font-weight:bold; color: #404040; font-family: serif; font-style: normal"> ({{post.ratio}})</span>{% endif %}
                    {% if post.pdf %}<a href="{{post.pdf}}" itemprop="url" style="text-decoration: none; font-size:16px; font-weight:bold; color:#3366cc; font-family: serif;">[PDF]</a>{% endif %}
                    {% if post.supp %}<a href="{{post.supp}}" itemprop="url" style="text-decoration: none; font-size:16px; font-weight:bold; color:#3366cc; font-family: serif;">[Supp]</a>{% endif %}
                    {% if post.arxiv %}<a href="{{post.arxiv}}" itemprop="url" style="text-decoration: none; font-size:16px; font-weight:bold; color:#3366cc; font-family: serif;">[ArXiv]</a>{% endif %}
                    {% if post.openreview %}<a href="{{post.openreview}}" itemprop="url" style="text-decoration: none; font-size:16px; font-weight:bold; color:#3366cc; font-family: serif;">[OpenReview]</a>{% endif %}
                    {% if post.code %}<a href="{{post.code}}" itemprop="url" style="text-decoration: none; font-size:16px; font-weight:bold; color:#3366cc; font-family: serif;">[Code]</a>{% endif %}
                </p>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p style="font-size:18px; font-weight:normal">{{ post.author }}</p>
              <p style="font-size:16px; font-weight:normal">{{ post.comment | strip_html }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.tags.education %}
    <h2 class="index-headline featured"><span style="font-size:20px">Education</span></h2>

    <div class="container featured">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <section class="post-excerpt" itemprop="description">
              {% for post in site.tags.education %}
                <p style="font-size:20px; font-weight:normal; text-decoration: none">
                    <span style="font-size:20px; font-weight:bold; font-family: serif">{{post.aff}}</span> &nbsp;&nbsp; <span style="font-size:14px">{{post.location}}</span>
                </p>
                <p style="font-size:16px; font-weight:normal; text-decoration: none">
                    <span style="font-size:16px">{{post.degree}} | {{post.time}}</span>
                </p>
                <p style="font-size:16px; font-weight:normal; text-decoration: none">
                    <span style="font-size:16px">{{post.major}}</span>
                </p>
              {% endfor %}
            </section>
          </div>
        </article>

    </div>
    {% endif %}

    {% if site.tags.experience %}
    <h2 class="index-headline featured"><span style="font-size:20px">Experiences</span></h2>

    <div class="container featured">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <section class="post-excerpt" itemprop="description">
              {% for post in site.tags.experience %}
                <p style="font-size:20px; font-weight:normal; text-decoration: none">
                    <a href="{{ post.aff_url }}" itemprop="url" style="text-decoration: none; font-size:20px; font-weight:bold; color:#3366cc; font-family: serif">{{post.aff}}</a>
                </p>
                <p style="font-size:16px; font-weight:normal; text-decoration: none">
                    <span style="font-size:16px">{{post.position}} | {{post.time}}</span>
                </p>
                {% if post.advisor %}
                <p style="font-size:16px; font-weight:normal; text-decoration: none">
                    Advisor: <a href="{% if post.advisor_url %}{{post.advisor_url}}{% endif %}" itemprop="url" style="text-decoration: none; font-size:16px; color:#3366cc">{{post.advisor}}</a><span>{% if post.advisor2 %} & {{post.advisor2}}{% endif %}</span>
                </p>
                {% endif %}
                <p style="font-size:16px; font-weight:normal; text-decoration: none">
                    Topic: <span style="font-size:16px">{{post.topic}}</span>
                </p>
              {% endfor %}
            </section>
          </div>
        </article>

    </div>
    {% endif %}

    <h2 class="index-headline featured"><span style="font-size:20px">Services</span></h2>

    <div class="container featured">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <section class="post-excerpt" itemprop="description">
                <p style="font-size:20px; font-weight:normal; text-decoration: none"><span style="font-size:20px; font-weight:bold; font-family: serif">&bull; Conference Reviewer: </span>&nbsp;<span style="font-size:20px; font-weight:normal; font-family: serif">CVPR, ECCV, 3DV</span></p>
                <p style="font-size:20px; font-weight:normal; text-decoration: none"><span style="font-size:20px; font-weight:bold; font-family: serif">&bull; Journal Reviewer: </span>&nbsp;<span style="font-size:20px; font-weight:normal; font-family: serif">Pattern Recognition</span></p>
                <p style="font-size:20px; font-weight:normal; text-decoration: none"><span style="font-size:20px; font-weight:normal; font-family: serif">&bull; Invited Talk at University of Liverpool</span></p>
            </section>
          </div>
        </article>

    </div>

    {% if site.tags.awards %}
    <h2 class="index-headline featured"><span style="font-size:20px">Awards</span></h2>

    <div class="container featured">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <section class="post-excerpt" itemprop="description">
              {% for post in site.tags.awards %}
                <p style="font-size:20px; font-weight:normal; text-decoration: none">
                    <span style="font-size:20px; font-weight:bold; font-family: serif">{{post.name}}</span> &nbsp;&nbsp; <span style="font-size:14px">{{post.aff}}</span>
                </p>
                <p style="font-size:16px; font-weight:normal; text-decoration: none">
                    {% if post.pool %}
                    <span style="font-size:16px; font-weight:normal">{{post.pool}} | </span>
                    {% endif %}
                    <span style="font-size:16px">{{post.time}}</span>
                </p>
              {% endfor %}
            </section>
          </div>
        </article>

    </div>
    {% endif %}

    {% if site.tags.test %}
    <h2 class="index-headline featured"><span style="font-size:20px">Test</span></h2>

    <div class="container featured">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <section class="post-excerpt" itemprop="description">
              {% for post in site.tags.test %}
                <p style="font-size:20px; font-weight:normal; text-decoration: none">
                    <span style="font-size:20px; font-weight:bold; font-family: serif">{{post.name}}</span>
                </p>
                <p style="font-size:16px; font-weight:normal; text-decoration: none">
                    <span style="font-size:16px; font-weight:bold">{{post.total}}</span> <span style="font-size:16px">| {{post.comment}}</span>
                </p>
              {% endfor %}
            </section>
          </div>
        </article>

    </div>
    {% endif %}


    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.next_page }}>&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href={{ "/" | prepend: site.baseurl }}>Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.previous_page }}>Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
